.canvas-tools {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  left:0;
  right:0;
  bottom: 0;
  z-index: 10;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; 
}

.canvas-btn {
  width:50%;
  height:5em;
  border: 0 solid;
}

.canvas-share {
  font-size: 1.5em;
  position: absolute;
  right: 1em;
  bottom: 3em;
}


